* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Apple Symbols","Segoe UI Emoji", "Hannotate SC","MS UIゴシック", sans-serif;
  background-color: #e1f3f9;
}
@media screen and (max-width: 768px){
  .pc { display: none !important; }
  .sp { display: block !important; }
  .top__right, .middle__left, .bottom__images { display: none !important; }

  /* -----header----- */

  header {
    height: 600px;
    width: 100%;
    background-image: url("../img/header_sp.jpg");
    background-size: cover;
    opacity: 0;
    transform: translate(0, -20px);
    transition: all 1s ease-out;
  }

  .header-wrapper {
    height: 25%;
    width: 100%;
    padding-top: 5%;
  }

  .header-nav__left {
    text-align: center;
  }

  .header-nav__right ul {
    font-size: 0;
  }

  .header-nav__right ul li {
    font-size: 1.5rem;
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  .header-nav__right ul li a {
    color: #fff;
    text-decoration: none;
  }

  .header-nav__right ul li a:active {
    padding: 5%;
    background-color: #333;
  }

  .header-text {
    height: 75%;
  }

  .header-text h1 {
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 3em;
    text-shadow: -5px 5px 2px #333333;
    margin: 5% 0 0 10%;
    transform: translate(-20px, 0);
    transition: all 1.5s ease-out;
  }

/* -----topコンテンツ----- */

  .top__right--sp {
    height: 300px;
    position: relative;
  }

  .top__right--sp img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .top__left {
    height: 150px;
    width: 100%;
    position: relative;
  }

  .top__left--back {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
  }

  .top__left--back p {
    font-size: 5.2em;
    text-align: center;
    color: #fff;
  }

  .top__left--front {
    position: absolute;
    top: -35%;
    left: 0;
    right: 0;
  }

  .top__left--front h3 {
    font-size: 2em;
    text-align: center;
    color: #037a0b;
  }

  .top__left--title {
    text-align: center;
    color: #037a0b;
    font-size: 15px;
    letter-spacing: 0.08em;
  }

  .top__left--text {
    text-align: center;
    color: #037a0b;
    font-size: 10px;
    letter-spacing: 0.08em;
    margin-top: 0.5em;
  }

  .top-btn {
    display: inline-block;
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .top-btn a {
    color: #f14924;
    text-decoration: none;
    border: solid 2px #f14924;
    border-radius: 3px;
    padding: 0.2em 0.1em;
  }

  .top-btn:active {
    background: #f14924;
    color: #fff;
  }

/* -----上に戻るボタン(topコンテンツから表示)----- */

  #top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    line-height: 0.5;
    z-index: 99;
  }
  #top a {
    background: #72C7CA;
    color: #fff;
    width: 60px;
    padding: 15px 0;
    text-align: center;
    display: block;
    border-radius: 90px;
    opacity: 0.5;
    transition: all .3s ease;
  }

/* -----middleコンテンツ----- */

  .middle__left--sp {
    height: 300px;
    position: relative;
    margin-top: -1.5em;
  }

  .middle__left--sp img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .middle__right {
    height: 150px;
    width: 100%;
    position: relative;
  }

  .middle__right--back {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
  }

  .middle__right--back p {
    font-size: 5.2em;
    text-align: center;
    color: #fff;
  }

 .middle__right--front {
    position: absolute;
    top: -35%;
    left: 0;
    right: 0;
  }

  .middle__right--front h3 {
    font-size: 2em;
    text-align: center;
    color: #037a0b;
  }

  .middle__right--title {
    text-align: center;
    color: #037a0b;
    font-size: 15px;
    letter-spacing: 0.08em;
  }

  .middle__right--text {
    text-align: center;
    color: #037a0b;
    font-size: 10px;
    letter-spacing: 0.08em;
    margin-top: 0.5em;
  }

  .middle-btn {
    display: inline-block;
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .middle-btn a {
    color: #f14924;
    text-decoration: none;
    border: solid 2px #f14924;
    border-radius: 3px;
    padding: 0.2em 0.1em;
  }

  .middle-btn:active {
    background: #f14924;
    color: #fff;
  }

/* ------bottomコンテンツ------ */

  .bottom__image--sp {
    height: 300px;
    position: relative;
  }

  .bottom__image--sp img{
    height: 300px;
    width: 320px;
    position: absolute;
    top: -35%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .bottom__left {
    height: 150px;
    width: 100%;
    position: relative;
  }

  .bottom__left--back {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
  }

  .bottom__left--back p {
    font-size: 5.2em;
    text-align: center;
    color: #fff;
  }

  .bottom__left--front {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }

  .bottom__left--front h3 {
    font-size: 2em;
    text-align: center;
    color: #037a0b;
  }

  .bottom-btn {
    display: inline-block;
    margin-top: -1.5em;
    display: flex;
    justify-content: center;
  }

  .bottom-btn a {
    color: #f14924;
    text-decoration: none;
    border: solid 2px #f14924;
    border-radius: 3px;
    padding: 0.2em 0.1em;
  }

/* -----------footer----------- */

  footer {
    height: 150px;
    width: 100%;
    background-color: #7ebf41;
    margin-top: 15%;
  }

  .footer__left {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__left img {
    margin-top: 3%;
  }

  .footer__center ul {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 25px;
    color: #333333;
    list-style: none;
  }

  .footer__center li {
    margin: auto;
  }

  .footer__center a {
    text-decoration: none;
    color: #333333;
  }

  .footer__right {
    font-size: 15px;
    color: #333333;
    text-align: center;
  }
}

/* ----------PC用コーディング---------- */

@media screen and (min-width: 1024px) {
  .pc { display: block !important; }
  .sp { display: none !important; }
  .top__right--sp, .middle__left--sp, .bottom__image--sp { display: none !important; }

/* ----------header---------- */

  header {
    height: 790px;
    background-image: url("../img/header_pc.jpg");
    background-size:cover;
  }

  .logo__back {
    display: none;
  }

  .header-nav__left {
    margin-left: 0px;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0 100px;
  }

  .header-nav__right ul {
    list-style: none;
    display: flex;
  }

  .header-nav__right li{
    font-size: 25px;
    margin: 0 0 0 60px;
  }

  .header-nav__right a {
    color: white;
    text-decoration: none;
    transition: .4s;
  }

  .header-nav__right a:hover {
    color: #037a0b;
  }

  .header-text h1{
    height: 500px;
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 60px;
    text-shadow: -5px 5px 2px #333333;
    margin: 100px 0 0 300px;
    opacity: 0;
    transform: translate(-20px, 0);
    transition: all 1.5s ease-out;
  }

  /* -----topコンテンツ------ */

  .top{
    height: 650px;
    position: relative;
  }

  .top__left--back {
    font-size: 139px;
    letter-spacing: 3px;
    color: #fff;
    position: absolute;
    top: 170px;
    left: 95px;
  }

  .top__left--front {
    font-size: 40px;
    letter-spacing: 5px;
    color: #037a0b;
    position: absolute;
    top: 215px;
    left: 295px;
  }

  .top__left--title {
    font-size: 30px;
    color: #037a0b;
    position: absolute;
    top: 320px;
    left: 100px;
  }

  .top__left--text {
    font-size: 20px;
    color: #037a0b;
    position: absolute;
    top: 440px;
    left: 100px;
  }

  .top-btn {
    display: inline-block;
    padding: 0.3em 1em;
    border: solid 2px #f14924;
    border-radius: 3px;
    transition: .4s;
    position: absolute;
    top: 520px;
    left: 100px;
  }

  .top-btn a {
    text-decoration: none;
    color: #f14924;
  }

  .top-btn:hover {
    background: #f14924;
    color: #fff;
  }

  .top__right {
    margin-left: 50px;
  }

  .top__right img {
    height: 450px;
    width: 600px;
    position: absolute;
    top: 150px;
    right: 100px;
  }

  /* -----topコンテンツのアニメーション----- */

  .top__left {
    opacity: 0;
    transform: translate(-20px, 0);
    transition: all 3s ease-out;
  }

  .top__right {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 3s ease-out;
  }

  /* -----上に戻るボタン(topコンテンツから表示)----- */

  #top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    line-height: 0.5;
    z-index: 99;
  }

  #top a {
    background: #72C7CA;
    color: #fff;
    width: 60px;
    padding: 18px 5px;
    text-align: center;
    display: block;
    border-radius: 90px;
    opacity: 0.7;
    transition: all .3s ease;
  }

  #top a:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  /* ----------middleコンテンツ---------- */

  .middle {
    height: 650px;
    position: relative;
  }

  .middle__left {
    margin-right: 50px;
  }

  .middle__right--back {
    font-size: 140px;
    color: #fff;
    letter-spacing: 5px;
    position: absolute;
    top: 170px;
    right: 220px;
  }

  .middle__right--front {
    font-size: 40px;
    letter-spacing: 5px;
    color: #037a0b;
    position: absolute;
    top: 215px;
    right: 400px;
  }

  .middle__right--title {
    font-size: 30px;
    color: #037a0b;
    position: absolute;
    top: 320px;
    right: 225px;
  }

  .middle__right--text {
    font-size: 20px;
    color: #037a0b;
    position: absolute;
    top: 440px;
    right: 325px;
  }

  .middle-btn {
    display: inline-block;
    padding: 0.3em 1em;
    border: solid 2px #f14924;
    border-radius: 3px;
    transition: .4s;
    position: absolute;
    top: 520px;
    right: 588px;
  }

  .middle-btn a {
    text-decoration: none;
    color: #f14924;
  }

  .middle-btn:hover {
    background: #f14924;
    color: white;
  }

  .middle__left img {
    height: 450px;
    width: 600px;
    position: absolute;
    top: 150px;
    left: 100px;
  }

  /* -----middleコンテンツのアニメーション----- */

  .middle__left {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 3s ease-out;
  }

  .middle__right {
    opacity: 0;
    transform: translate(20px, 0);
    transition: all 3s ease-out;
  }

  /* ----------bottomコンテンツ---------- */

  .bottom {
    height: 850px;
    position: relative;
    padding-bottom: 200px;
  }

  .bottom__left--back {
    font-size: 140px;
    letter-spacing: 3px;
    color: #fff;
    position: absolute;
    top: 100px;
    left: 95px;
  }

  .bottom__left--front {
    font-size: 40px;
    letter-spacing: 3px;
    color: #037a0b;
    position: absolute;
    top: 140px;
    left: 225px;
  }

  .bottom__left--title {
    font-size: 30px;
    letter-spacing: 3px;
    color: #037a0b;
    position: absolute;
    top: 350px;
    left: 100px;
  }

  .bottom__left--text {
    font-size: 20px;
    color: #037a0b;
    position: absolute;
    top: 470px;
    left: 100px;
  }

  .bottom__images {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    top: 300px;
    left: 100px;
  }

  .bottom__images--left img {
    height: 400px;
    width: 380px;
  }

  .bottom__images--middle img {
    height: 400px;
    width: 380px;
    margin: 0 50px 0 50px;
  }

  .bottom__images--right img {
    height: 400px;
    width: 380px;
  }

  .bottom-btn {
    display: inline-block;
    padding: 0.3em 1em;
    border: solid 2px #f14924;
    border-radius: 3px;
    transition: .4s;
    position: absolute;
    top: 800px;
    right: 665px;
  }

  .bottom-btn a {
    text-decoration: none;
    color: #f14924;
  }

  .bottom-btn a:hover {
    background: #f14924;
    color: #fff;
  }

  /* ----------bottomコンテンツのアニメーション---------- */

  .bottom__left {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s 0s ease-out;
  }

  .bottom__images {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s 0s ease-out;
  }

  /* ----------footer---------- */

  footer {
    height: 150px;
    width: 100%;
    background-color: #7ebf41;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer__left {
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .footer__center ul {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #333333;
    list-style: none;
  }

  .footer__center li {
    margin-right: 15px;
  }

  .footer__center a {
    text-decoration: none;
    color: #333333;
  }

  .footer__center a:hover {
    transition: .4s;
    border-bottom: solid 2px #f356fc ;
    color: #e1f3f9;
  }

  .footer__right {
    font-size: 25px;
    color: #333333;
  }
}
