* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Apple Symbols","Segoe UI Emoji", "Hannotate SC","MS UIゴシック", sans-serif;
  background-color: #e1f3f9;
}


  .pc, .top__right, .middle__left, .bottom__contents { display: none !important; }

  /* -----header----- */

  header {
    height: 600px;
    width: 100%;
    background-image: url("../img/header_sp.jpg");
    background-size: cover;
    opacity: 0;
    transform: translate(0, -20px);
    transition: all 1s ease-out;
  }

  .header-wrapper {
    height: 25%;
    width: 100%;
    padding-top: 5%;
  }

  .header-nav__left {
    text-align: center;
  }

  .header-nav__right ul {
    font-size: 0;
  }

  .header-nav__right ul li {
    font-size: 1.5rem;
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  .header-nav__right a {
    color: #fff;
    text-decoration: none;
  }

  .header-nav__right ul li a:active {
    padding: 5%;
    background-color: #333;
  }

  .header-text {
    height: 75%;
  }

  .header-text h1 {
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 3em;
    text-shadow: -5px 5px 2px #333333;
    margin: 5% 0 0 10%;
    transform: translate(-20px, 0);
    transition: all 1.5s ease-out;
  }

/* -----topコンテンツ----- */

  .top__right--sp {
    height: 300px;
    position: relative;
  }

  .top__right--sp img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .top__left {
    height: 9.375em;
    width: 100%;
    position: relative;
  }

  .top__left--back {
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    letter-spacing: 3px;
    color: #fff;
  }

  .top__left--back p {
    font-size: 4.8em;
    text-align: center;
    color: #fff;
  }

  .top__left--front {
    position: absolute;
    top: -3.5em;
    left: 0;
    right: 0;
    color: #037a0b;
  }

  .top__left--front h3 {
    font-size: 2em;
    text-align: center;
    color: #037a0b;
  }

  .top__left--title {
    text-align: center;
    color: #037a0b;
    font-size: 1em;
    letter-spacing: 0.08em;
  }

  .top__left--text {
    text-align: center;
    color: #037a0b;
    font-size: 0.625em;
    letter-spacing: 0.08em;
    margin-top: 0.5em;
  }

  .top-btn {
    display: inline-block;
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .top-btn a {
    color: #f14924;
    text-decoration: none;
    border: solid 2px #f14924;
    border-radius: 3px;
    padding: 0.2em 0.1em;
  }


/* -----上に戻るボタン(topコンテンツから表示)----- */

  #top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    font-size: 30px;
    line-height: 0.5;
    z-index: 99;
  }
  #top a {
    background: #72C7CA;
    color: #fff;
    width: 60px;
    padding: 15px 0;
    text-align: center;
    display: block;
    border-radius: 90px;
    opacity: 0.5;
    transition: all .3s ease;
  }

/* -----middleコンテンツ----- */

  .middle__left--sp {
    height: 18.75em;
    position: relative;
    margin-top: -1.5em;
  }

  .middle__left--sp img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .middle__right {
    height: 9.375em;
    width: 100%;
    position: relative;
  }

  .middle__right--back {
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
  }

  .middle__right--back p {
    font-size: 5.2em;
    text-align: center;
    color: #fff;
  }

 .middle__right--front {
    position: absolute;
    top: -3.5em;
    left: 0;
    right: 0;
  }

  .middle__right--front h3 {
    font-size: 2em;
    text-align: center;
    color: #037a0b;
  }

  .middle__right--title {
    text-align: center;
    color: #037a0b;
    font-size: 1em;
    letter-spacing: 0.08em;
  }

  .middle__right--text {
    text-align: center;
    color: #037a0b;
    font-size: 0.625em;
    letter-spacing: 0.08em;
    margin-top: 0.5em;
  }

  .middle-btn {
    display: inline-block;
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .middle-btn a {
    color: #f14924;
    text-decoration: none;
    border: solid 2px #f14924;
    border-radius: 3px;
    padding: 0.2em 0.1em;
  }

  .middle-btn:active {
    background: #f14924;
    color: #fff;
  }

/* ------bottomコンテンツ------ */

  .bottom__image--sp {
    height: 18.75em;
    position: relative;
  }

  .bottom__image--sp img{
    height: 18.75em;
    width: 20em;
    position: absolute;
    top: -3.5em;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .bottom__left {
    height: 9.375em;
    width: 100%;
    position: relative;
  }

  .bottom__left--back {
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
  }

  .bottom__left--back p {
    font-size: 5.2em;
    text-align: center;
    color: #fff;
  }

  .bottom__left--front {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
  }

  .bottom__left--front h3 {
    font-size: 2em;
    text-align: center;
    color: #037a0b;
  }

  .bottom-btn {
    display: inline-block;
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .bottom-btn a {
    color: #f14924;
    text-decoration: none;
    border: solid 2px #f14924;
    border-radius: 3px;
    padding: 0.2em 0.1em;
  }

/* -----------footer----------- */

  footer {
    height: 9.375em;
    width: 100%;
    background-color: #7ebf41;
    margin-top: 15%;
  }

  .footer__left {
    height: 6.25em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__left img {
    margin-top: 3%;
  }

  .footer__center ul {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.5625em;
    color: #333333;
    list-style: none;
  }

  .footer__center li {
    margin: auto;
  }

  .footer__center a {
    text-decoration: none;
    color: #333333;
  }

  .footer__right {
    font-size: 1em;
    color: #333333;
    text-align: center;
  }


/* ----------タブレット用コーディング---------- */
@media screen and (min-width: 600px) and (max-width:1024px) {
  .pc, .top__right, .middle__left, .bottom__contents { display: block !important; }
  .sp, .top__right--sp, .middle__left--sp, .bottom__image--sp, .bottom__image--sp { display: none !important; }

  header {
    /* height: 900px; */
    background-image: url("../img/header_pc.jpg");
    background-size:cover;
  }

  .header-text h1 {
    position: absolute;
    top: 3.5em;
    left: 1.5em;
  }

  .top {
    height: 21.25em;
  }

 .top__left {
    height: 150px;
    width: 100%;
    position: relative;
  }

  .top__left--back {
    position: absolute;
    top: 4em;
    left: -20em;
  }

  .top__left--front {
    position: absolute;
    top: 5.2em;
    left: -18em;
  }

  .top__left--title {
    position: absolute;
    top: 9.5em;
    left: 3.5em;
    text-align: initial;
  }

  .top__left--text {
    position: absolute;
    top: 18.5em;
    left: 5.5em;
    text-align: initial;
  }

  .top-btn {
    position: absolute;
    top: 14em;
    left: 3.4em;
  }

  .top__right img {
    height: 14em;
    width: 18em;
    position: absolute;
    top: -6em;
    right: 3.5em;
  }

/* -----middleコンテンツ----- */

  .middle {
    height: 21.25em;
    margin-top: 3em;
  }

  .middle__right {
    height: 150px;
    width: 100%;
    position: relative;
  }

  .middle__right--back {
    position: absolute;
    top: -2em;
    left: 21em;
  }

 .middle__right--front {
    position: absolute;
    top: -0.5em;
    left: 20em;
  }

  .middle__right--title {
    position: absolute;
    top: 3em;
    right: 3.5em;
    text-align: initial;
  }

  .middle__right--text {
    position: absolute;
    top: 9em;
    right: 16.5em;
    text-align: initial;
  }

  .middle-btn {
    position: absolute;
    top: 8em;
    right: 16.5em;
  }

  .middle__left img {
    position: absolute;
    left: 3em;
    top: -2em;
    height: 14em;
    width: 18em;
  }

/* -----bottomコンテンツ----- */

  .bottom {
    margin-top: -5em;
    height: 28.125em;
  }

  .bottom__left {
    height: 150px;
    width: 100%;
    position: relative;
  }

  .bottom__left--back {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
  }

  .bottom__left--back p {
    font-size: 5.2em;
    text-align: center;
    color: #fff;
  }

  .bottom__left--front {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }

  .bottom-btn {
    position: absolute;
    top: 102em;
    right: 0em;
    left: 0em;
  }

  .bottom__contents {
    width: 88%;
    margin: auto;
    text-align: center;
  }

  .bottom__contents--item {
    list-style: none;
    margin: auto;
    display: inline;
  }

  .bottom__contents--item img {
    height: 190px;
    width: 200px;
  }

  footer {
    margin-top: 4em;
  }

}


/* ----------PC用コーディング---------- */

@media screen and (min-width: 1280px) {
  .pc, .top__right, .middle__left, .bottom__contents { display: block !important; }
  .sp, .top__right--sp, .middle__left--sp, .bottom__image--sp, .bottom__image--sp { display: none !important; }

/* ----------header---------- */

  header {
    height: 790px;
    background-image: url("../img/header_pc.jpg");
    background-size:cover;
  }

  .header-nav__left {
    margin-left: 80px;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
  }

  .header-nav__right {
    width: 50%;
  }

  .header-nav__right ul {
    list-style: none;
    display: flex;
    margin-right: 80px;
  }

  .header-nav__right li{
    font-size: 25px;
    margin: 0 0 0 60px;
  }

  .header-nav__right a {
    transition: .4s;
  }

  .header-nav__right a:hover {
    color: #037a0b;
  }

  .header-text h1{
    height: 500px;
    font-size: 60px;
    text-shadow: -5px 5px 2px #333333;
    margin: 20px 0 0 170px;
    opacity: 0;
  }

  /* -----topコンテンツ------ */

  .top{
    height: 650px;
    position: relative;
  }

  .top__left {
    height: 600px;
    width: 100%;
    position: relative;
  }

  .top__left--back {
    position: absolute;
    top: 10.625em;
    left: 5.9275em;
  }
  .top__left--back p {
    font-size: 8em;
    text-align: initial;
  }

  .top__left--front {
    position: absolute;
    top: 12.8125em;
    left: 15.625em;
  }
  .top__left--front h3 {
    font-size: 3em;
    text-align: initial;
    letter-spacing: 5px;
  }

  .top__left--title {
    font-size: 1.875em;
    position: absolute;
    top: 10.5em;
    left: 3.25em;
    text-align: initial;
  }

  .top__left--text {
    text-align: initial;
    font-size: 1.25em;
    color: #037a0b;
    position: absolute;
    top: 21em;
    left: 5em;
  }

  .top-btn {
    transition: .4s;
    position: absolute;
    top: 520px;
    left: 100px;
  }

  .top-btn a {
    padding: 0.3em 1em;
  }

  .top-btn:hover {
    opacity: 0.5;
  }

  .top__right img {
    height: 450px;
    width: 600px;
    position: absolute;
    top: -28em;
    right: 6.25em;
  }

  /* -----topコンテンツのアニメーション----- */

  .top__left {
    opacity: 0;
    transform: translate(-20px, 0);
    transition: all 3s ease-out;
  }

  .top__right {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 3s ease-out;
  }

  #top a:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  /* ----------middleコンテンツ---------- */

  .middle__left {
    height: 650px;
    position: relative;
  }

  .middle__right--back {
    letter-spacing: 0.3125em;
    position: absolute;
    top: -30em;
    left: 30em;
  }

  .middle__right--back p {
    font-size: 8em;
  }

  .middle__right--front {
    letter-spacing: 0.3125em;
    position: absolute;
    top: -27.5em;
    right: 25em;
  }

  .middle__right--front h3 {
    font-size: 2.5em;
    text-align: right;
  }

  .middle__right--title {
    font-size: 1.875em;
    position: absolute;
    top: -11em;
    right: 5.25em;
    text-align: initial;
  }

  .middle__right--text {
    font-size: 1.25em;
    position: absolute;
    top: -11.5em;
    right: 17em;
    text-align: initial;
  }

  .middle-btn {
    position: absolute;
    top: -8.5em;
    right: 37em;
    transition: .4s;
  }

  .middle-btn a {
    padding: 0.3em 1em;
  }

  .middle-btn:hover {
    opacity: 0.5;
  }

  .middle__left img {
    height: 450px;
    width: 600px;
    position: absolute;
    top: 150px;
    left: 100px;
  }

  /* -----middleコンテンツのアニメーション----- */

  .middle__left {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 3s ease-out;
  }

  .middle__right {
    opacity: 0;
    transform: translate(20px, 0);
    transition: all 3s ease-out;
  }

  /* ----------bottomコンテンツ---------- */

  .bottom__left {
    position: relative;
  }

  .bottom__left--back {
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
  }

  .bottom__left--back p {
    font-size: 8.75em;
    letter-spacing: 3px;
  }

  .bottom__left--front {
    position: absolute;
    top: -2.5em;
    left: 39em;
  }

  .bottom__left--front h3 {
    font-size: 3em;
    letter-spacing: 0.1875em;
    text-align: initial;
  }

  .bottom__contents {
    width: 88%;
    margin: auto;
    text-align: center;
  }

  .bottom__contents--item {
    list-style: none;
    margin: auto;
    display: inline;
  }

  .bottom__contents--item img {
    height: 380px;
    width: 400px;
  }

  .bottom-btn {
    transition: .4s;
    position: absolute;
    top: 180em;
    right: 665px;
  }

  .bottom-btn a {
    padding: 0.3em 1em;
  }

  .bottom-btn a:hover {
    opacity: 0.5;
  }

  /* ----------bottomコンテンツのアニメーション---------- */

  .bottom__left {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s 0s ease-out;
  }

  .bottom__images {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s 0s ease-out;
  }

  /* ----------footer---------- */

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer__left {
    width: 250px;
    margin-top: 10px;
  }

  .footer__center {
    width: 30%;
  }

  .footer__center li {
    margin-right: 15px;
  }

  .footer__center a:hover {
    transition: .4s;
    border-bottom: solid 2px #f356fc ;
    color: #e1f3f9;
  }

  .footer__right {
    font-size: 25px;
  }
}
